{% extends 'general/base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">{{ name }}'s Dashboard</h1>
        <div class="card mb-4">
            <a class="btn btn-primary" href="student/practicum-plan">Submit a New Plan</a>
            <div class="card-header"><i class="fas fa-table mr-1"></i>Your Plans</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Preceptor</th>
                                <th>Practicum Director</th>
                                <th>Total Hours</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Practicum Director</th>
                                <th>Preceptor Approval</th>
                                <th>Total Hours</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% if plans %}
                                {% for plan in plans %}
                                    <tr>
                                        <td><a href="student/practicum-plan/{{ plan.id }}">{{ plan.title }}</a></td>
                                        <td>{{ plan.pd_approval }}</td>
                                        <td>{{ plan.preceptor_approval }}</td>
                                        <td>{{ plan.total_hours }}</td>
                                        <td><a href="student/practicum-plan/{{ plan.id }}">Edit</a><br>
                                            <a href="student/practicum-plan/{{ plan.id }}/track-hours">Track Hours</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

